.article-page {
    .container {
        display: flex;
    }
    &-left {
        flex: 1;
        padding-right: 6rem;
        border-right: 1px solid rgba(124, 124, 124, 0.5);

        & > *:last-child {
            margin-bottom: 0;
        }

        &__top {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin-bottom: 6rem;

            &-title {
                width: 78.1rem;
            }
            &-date {
                color: #7C7C7C;
                width: fit-content;
            }
        }
        &__img {
            width: auto;
            height: 45.9rem;
            margin-bottom: 6rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__subtitle {
           padding-left: 3.6rem;
           border-left: 1px solid #7C7C7C;
           margin-bottom: 6rem;

           font-family: 'Gotham';
            font-size: 2.4rem;
            font-style: italic;
            font-weight: 500;
            line-height: 130%;
        }
        &__text {
            color: #7C7C7C;
            margin-bottom: 2.4rem;
        }
    }
    &-right {
        width: 56.4rem;
        padding-left: 6rem;
        padding-top: 17.6rem;

        .swiper-wrapper {
            height: 100rem;
        }
        .swiper-slide {
            height: 35.7rem;
        }
    }
    &-slide {
        &__img {
            width: 100%;
            height: 21.3rem;
            margin-bottom: 2.8rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__date {
            color: #7C7C7C;
            margin-bottom: 2.8rem;
        }
        &__bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__title {
            font-family: 'Gotham';
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            width: 30rem;
        }
        &__btn {
            border-radius: 50%;
            border: 1px solid #7C7C7C;
            width: 6rem;
            height: 6rem;
            position: relative;

            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 2.5rem;
                height: 1.5rem;
                background: url(../img/icon/arrow-right.svg) no-repeat;
                background-size: contain;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    &-swiper {
        padding-top: 10rem;
        margin-top:  -10rem;
        padding-right: 1rem;
        margin-right: -1rem;

        &__number {
            font-family: "Gotham";
            font-size: 2rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: flex;
            position: absolute;
            z-index: -1;
            top: 1rem;
            bottom: auto;

            &-now {
                margin-right: 1.6rem;
            }
            &-all {
                display: flex;
                align-items: center;

                &::before {
                    margin-right: 1.6rem;
                    content: "";
                    display: block;
                    width: 6.9rem;
                    height: 2px;
                    background: #121820;
                }
            }
        }
    }
    &-button-next, &-button-prev {
        top: 0;
        bottom: auto;
    }
    &-button-next {
        right: 0;
    }
    &-button-prev {
        left: auto;
        right: 6rem;
    }
}

@media (max-width: 48em) {
    .article-page {
        .container {
            display: flex;
            flex-direction: column;
        }
        &-left {
            flex: 1;
            padding-right: 0;
            border-right: unset;
            padding-bottom: 12rem;
            border-bottom: 1px solid rgba(124, 124, 124, 0.5);

    
            & > *:last-child {
                margin-bottom: 0;
            }
    
            &__top {
                display: flex;
                flex-direction: column;
                align-items: baseline;
                justify-content: space-between;
                gap: 2.4rem;
                margin-bottom: 6.4rem;
                &-title {
                    width: auto;
                }
                &-date {
                    width: fit-content;
                }
            }
            &__img {
                width: auto;
                height: 53rem;
                margin-bottom: 6.4rem;
            }
            &__subtitle {
                padding-left: 6rem;
                margin-bottom: 6.4rem;
        
                font-size: 3.6rem;
            }
            &__text {
                margin-bottom: 1.2rem;
            }
        }
        &-right {
            width: auto;
            padding-left: 0;
            padding-top: 6.4rem;
    
            .swiper-wrapper {
                height: 100rem;
            }
            .swiper-slide {
                height: 100rem;
            }
        }
        &-slide {
            &-top {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                margin-bottom: 5.6rem;
            }
            &__img {
                width: 100%;
                height: 45.8rem;
                margin-bottom: 5.6rem;
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &__date {
                margin-bottom: 0;
                width: 8.8rem;
            }
            &__bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__text {
                width: 53.4rem;
            }
            &__title {
                font-size: 3.6rem;
                width: 42.8rem;
            }
            &__btn {
                border-radius: 50%;
                width: 12rem;
                height: 12rem;
    
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 5rem;
                    height: 3rem;
                    background: url(../img/icon/arrow-right.svg) no-repeat;
                    background-size: contain;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        &-swiper {
            padding-top: 14.4rem;
            margin-top:  0;
            padding-right: 1rem;
            margin-right: -1rem;
    
            &__number {
                font-size: 2.8rem;
                font-style: italic;
                top: 2.4rem;
                z-index: -1;
    
                &-now {
                    margin-right: 2.4rem;
                }
                &-all {
                    display: flex;
                    align-items: center;
    
                    &::before {
                        margin-right: 2.4rem;
                        content: "";
                        display: block;
                        width: 26.6rem;
                        height: 1px;
                        opacity: 0.5;
                        background: #7C7C7C;
                    }
                }
            }
        }
        &-button-next, &-button-prev {
            top: 0;
            bottom: auto;
        }
        &-button-next {
            right: 0;
        }
        &-button-prev {
            left: auto;
            right: 12rem;
        }
    }
}
