.category {
    &-top {
        display: flex;
        align-items: center;
        margin-bottom: 6rem;

        .title-text {
            margin-right: 40.3rem;
        }
    }
    &-container {
        padding-top: 4rem;
        border-top: 1px solid rgba(124, 124, 124, 0.5);
    }
    &-items {
        display: flex;
        border-bottom: 1px solid rgba(124, 124, 124, 0.5);

        &:last-child {
            border-bottom: unset;
        }
    }
    &-item {
        flex: 1;
        padding: 6rem 4.2rem;
        border-right: 1px solid rgba(124, 124, 124, 0.5);
        display: flex;
        gap: 3.3rem;

        &:hover {
            background: #FEF446;

            .category-item__btn {
                border: unset;
                background: #FFF;
            }
        }

        &__title {
            font-family: 'Gotham';
            font-size: 3.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: 105%;
            flex: 1;
        }
        &__btn {
            border-radius: 50%;
            border: 1px solid #7C7C7C;
            width: 6rem;
            height: 6rem;
            position: relative;

            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 2.5rem;
                height: 1.5rem;
                background: url(../img/icon/arrow-right.svg) no-repeat;
                background-size: contain;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &:last-child {
            border-right: unset;
        }
    }
}

@media (max-width: 48em) {
    .category {
        &-top {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 6.4rem;
    
            .title-text {
                margin-right: auto;
                margin-bottom: 2.4rem;
            }
        }
        &-container {
            padding-top: 2.4rem;
            border-top: 1px solid rgba(124, 124, 124, 0.5);
        }
        &-items {
            display: flex;
            flex-direction: column;
            border-bottom: unset;

            &:last-child {
                .category-item:last-child {
                    border: unset;
                } 
            }
        }
        &-item {
            flex: 1;
            padding: 4rem 0;
            border-right: unset;
            border-bottom: 1px solid rgba(124, 124, 124, 0.5);
            display: flex;
            align-items: center;
            gap: 8.2rem;
    
            &:hover {
                background: #FEF446;
    
                .category-item__btn {
                    border: unset;
                    background: #FFF;
                }
            }
    
            &__title {
                font-size: 4.4rem;
            }
            &__btn {
                width: 12rem;
                height: 12rem;
                position: relative;
    
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 5rem;
                    height: 3rem;
                    background: url(../img/icon/arrow-right.svg) no-repeat;
                    background-size: contain;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
    
            &:last-child {
                border-right: unset;
            }
        }
    }
}
