.catalog {
  &-container {
    gap: 13.3rem;
  }
  &-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    &__breadcrumbs {
      display: flex;
      gap: 1rem;
      p {
        color: rgba(47, 46, 42, 0.6);
        font-family: Gilroy;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 145%;
      }
    }
  }
  &-left {
    width: 41.5rem;
    height: auto;
    padding: 0;
    padding-left: 10rem;
    background-color: transparent;
    &__title {
      font-family: Gilroy;
      font-size: 3.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
    }
    &__box {
      height: auto;
      overflow: visible;
    }
    &__list {
      gap: 3rem;
      margin-bottom: 4rem;
    }
    &__button {
      width: fit-content;
      padding: 1.2rem 4rem;
      color: #fff;
      font-family: Gilroy;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 500;
      line-height: 145%;
      background-color: #121820;
      cursor: pointer;
    }
  }
  &-right {
    &__controls {
      display: flex;
      align-items: center;
      gap: 3rem;
      &-btn-prev {
        &::after {
          content: '';
          display: block;
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          border: 1px solid #121820;
          background: url(../img/icon/swiper-left.svg) no-repeat;
          background-size: contain;
          cursor: pointer;
        }
      }
      &-btn-next {
        &::after {
          content: '';
          display: block;
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          border: 1px solid #121820;
          background: url(../img/icon/swiper-right.svg) no-repeat;
          background-size: contain;
          cursor: pointer;
        }
      }
      &-pagination {
        display: flex;
        gap: 1.5rem;
        p {
          color: #000;
          font-family: Gilroy;
          font-size: 1.8rem;
          font-style: normal;
          font-weight: 500;
          line-height: 145%;
          opacity: 0.2;
          &._active {
            opacity: 1;
          }
        }
      }
    }
  }
}
@media (max-width: 48em) {
  .catalog {
    &-top {
      gap: 5rem;
      &__breadcrumbs {
        p {
          font-size: 2.8rem;
        }
      }
    }
    &-right {
      &__controls {
        justify-content: center;
        gap: 4rem;
        &-btn-prev {
          &::after {
            width: 8rem;
            height: 8rem;
          }
        }
        &-btn-next {
          &::after {
            width: 8rem;
            height: 8rem;
          }
        }
        &-pagination {
          gap: 3rem;
          p {
            font-size: 2.8rem;
          }
        }
      }
    }
  }
}
.custom-select {
  &.active {
    .custom-select {
      &__heading {
        margin-bottom: 2rem;
      }
      &__title {
        &::before {
          transform: rotate(0deg);
          transition: transform 0.25s ease-in-out;
        }
      }
      &__content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: auto;
        transition: height 0.3s ease; /* Добавляем переход для свойства высоты */
      }
    }
  }
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    color: #121820;
    font-family: Gilroy;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    cursor: pointer;
    position: relative;
    &::before {
      content: '';
      width: 1.4rem;
      height: 0.6rem;
      background-image: url('../img/sections/custom-select/custom-select.svg');
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 40%;
      left: calc(100% + 2rem);
      transform: rotate(180deg);
      transition: transform 0.25s ease-in-out;
    }
  }
  &__reset {
    display: none;
    color: #7c7c7c;
    font-family: Gilroy;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    cursor: pointer;
  }
  &__content {
    display: none;
    overflow: hidden;
    transition: height 0.3s ease; /* Добавляем переход для свойства высоты */
    height: 0;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  &__checkbox {
    input[type='checkbox'] {
      position: absolute;
      z-index: -1;
      opacity: 0;
      display: block;
      width: 0;
      height: 0;
    }
    span {
      display: inline-block;
      position: relative;
      color: #7c7c7c;
      font-family: Gilroy;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      padding-left: 3.2rem;
      &::before {
        content: '';
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        position: absolute;
        top: 50%;
        left: 0;
        border: 1.5px solid #7c7c7c;
        transform: translateY(-50%);
      }
    }
    input[type='checkbox']:checked + span {
      color: #121820;
    }
    input[type='checkbox']:checked + span::before {
      border-color: #121820;
      background-image: url('../img/sections/custom-select/custom-select-checkbox.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }
  &__show {
    color: #121820;
    font-family: Gilroy;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    cursor: pointer;
  }
}
