.modal-box {
    display: none;
    background: rgba(124, 124, 124, 0.15);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    .application-order-sent {
        width: 61rem;
        .modal-box__icon {
            width: 4rem;
            height: 4rem;
            margin: 0 auto 3.2rem;
        }
        .modal-box__title {
            margin: 0;
            text-align: center;
        }
    }

    &.active {
        display: block;
    }

    &-container {
        display: none;
        position: absolute;
        width: 106rem;
        padding: 7rem 8rem;
        background: #FFF;
        backdrop-filter: blur(25px);
        left: 0;
        right: 0;
        top: 10vh;
        margin: 0 auto;

        &.active {
            display: block;
        }
    }
    &__zoom {
        width: fit-content;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 5rem;
        margin: 0 auto;
        height: calc(100vh - 10rem);
        cursor: pointer;

        &.active {
            display: block;
        }

        img {
            width: auto;
            height: 100%;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 3.2rem;
            height: 3.2rem;
            background: url(../img/icon/exit-white.svg) no-repeat;
            background-size: contain;
            top: 0;
            right: -11.2rem;
        }
    }
    &__exit {
        position: absolute;
        width: 3.2rem;
        height: 3.2rem;
        top: 0;
        right: -11.2rem;
        cursor: pointer;
    }
    &__title {
        font-family: 'Gotham';
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 105%;
        margin-bottom: 1rem;
    }
    &__text {
        color: #7C7C7C;
        margin-bottom: 4rem;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-bottom: 4rem;

        input {
            width: 100%;
            padding: 1.7rem 2rem;
            border: 1px solid rgba(124, 124, 124, 0.5);

            font-family: 'Gilroy';
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 500;
            line-height: 145%;
        }
        &-two {
            display: flex;
            gap: 3rem;
        }
        &-bottom {
            display: flex;
            justify-content: space-between;
        }
        &-btn {
            font-family: 'Gotham';
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            padding-right: 4rem;
            position: relative;
            cursor: pointer;

            &::after {
                content: '';
                display: block;
                background: url(../img/icon/arrow-right.svg) no-repeat;
                background-size: cover;
                width: 2.6rem;
                height: 1.5rem;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
        &-text {
            width: 44.8rem;
            color: #7C7C7C;
        }
    }
}

@media (max-width: 48em) {
    .modal-box {
        overflow: auto;
        .application-order-sent {
            width: 67rem;
            top: 50%;
            transform: translate(0, -50%);
            .modal-box__icon {
                width: 8rem;
                height: 8rem;
                margin: 0 auto 6.4rem;
            }
            .modal-box__title {
                margin: 0;
                text-align: center;
            }
        }
    
        &.active {
            display: block;
        }
    
        &-container {
            display: none;
            position: absolute;
            width: 67rem;
            padding: 6.4rem 4rem;
            background: #FFF;
            backdrop-filter: blur(25px);
            left: 0;
            right: 0;
            top: 10vh;
            margin: 0 auto;
    
            &.active {
                display: block;
            }
        }
        &__zoom {
            width: fit-content;
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            margin: 0 auto;
            width: 67rem;
            height: auto;
            cursor: pointer;
    
            &.active {
                display: block;
            }
    
            img {
                width: 100%;
                height: auto;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 6.4rem;
                height: 6.4rem;
                background: url(../img/icon/exit-white.svg) no-repeat;
                background-size: contain;
                top: -10.4rem;
                right: 0;
            }
        }
        &__exit {
            width: 6.4rem;
            height: 6.4rem;
            top: -10.4rem;
            right: 0;
        }
        &__title {
            font-size: 4.4rem;
            margin-bottom: 2.4rem;
        }
        &__text {
            margin-bottom: 6.4rem;
        }
        &__form {
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            margin-bottom: 0;
    
            input {
                padding: 4rem;
    
                font-size: 2.8rem;
            }
            &-two {
                display: flex;
                flex-direction: column;
                gap: 2.4rem;
            }
            &-bottom {
                margin-top: 6.4rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 2.4rem;
            }
            &-btn {
                width: fit-content;
                font-family: 'Gotham';
                font-size: 3.6rem;
                padding-right: 13rem;
    
                &::after {
                    content: '';
                    display: block;
                    background: url(../img/icon/arrow-right.svg) no-repeat;
                    background-size: cover;
                    width: 5rem;
                    height: 3rem;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                }
            }
            &-text {
                width: auto;
            }
        }
    }
}
