.wholesaler {
  background-color: #121820;
  margin-bottom: 0;
  &__container {
    padding-bottom: 4rem;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    .content {
      &-left {
        width: 54.4rem;
      }
    }
  }
  &__title {
    color: #fff;
    font-family: Gilroy;
    font-size: 5.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 105%;
    margin-bottom: 4rem;
  }
  &__text {
    color: #fff;
    font-family: Gilroy;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    margin-bottom: 4rem;
  }
  &__btn {
    width: fit-content;
    color: #fff;
    font-family: Gilroy;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 31.2px */
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -4rem;
      transform: translateY(-50%);
      width: 3rem;
      height: 2rem;
      background-image: url('../img/sections/icons/icon-arrow-white.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &__img {
    width: 96rem;
    height: 49.8rem;
  }
}
@media (max-width: 48em) {
  .wholesaler {
    .wholesaler {
      &__container {
        padding-bottom: 6rem;
      }
      &__content {
        flex-direction: column;
        gap: 6rem;
        .content {
          &-left {
            width: 100%;
          }
        }
      }
      &__title {
        font-size: 5.4rem;
        margin-bottom: 2.4rem;
      }
      &__text {
        font-size: 2.8rem;
        margin-bottom: 4.6rem;
      }
      &__btn {
        font-size: 3.6rem;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: -8rem;
          transform: translateY(-50%);
          width: 5.5rem;
          height: 3.5rem;
        }
      }
      &__img {
        width: 71rem;
        height: 37rem;
      }
    }
  }
}
